
<%- include('./partials/header') %>

&nbsp;&nbsp;
<h2>Biography</h2>
<body> Hello, my name is Paolo Ang and I am future software engineer graduating from General Assembly.  I currently reside in Los Angeles, CA and am searching for a career in the tech field.  My current interests include working in the entertainment industries such as Disney, Dreamworks, and Universal Studios. I would love to work in a company that combines both my technological and artistic strengths. </body>

<%- include('./partials/footer') %>